# Team 8
## Team Challenge SQL Murder

In [2]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect("data/sql-murder-mystery.db")

In [4]:
def sql(query):
    return pd.read_sql_query(query, conn)

In [5]:
consulta_1 = '''
SELECT *
FROM crime_scene_report
WHERE type = 'murder'
  AND date = '20180115'
  AND city = 'SQL City';
  '''
pd.read_sql_query(consulta_1, conn)

,date,type,description,city
0,20180115,murder,Security footage shows that there were 2 witne...,SQL City

Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".

In [6]:
consulta_2 = '''
SELECT *
FROM person as per
LEFT JOIN interview as inter
ON per.id = inter.person_id
WHERE address_street_name  = 'Northwestern Dr'
ORDER BY address_number desc
'''
pd.read_sql_query(consulta_2, conn)

,id,name,license_id,address_number,address_street_name,ssn,person_id,transcript
0,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949,14887.0,I heard a gunshot and then saw a man run out. ...
1,17729,Lasonya Wildey,439686,3824,Northwestern Dr,917817122,NaN,None
2,53890,Sophie Tiberio,957671,3755,Northwestern Dr,442830147,NaN,None
3,73368,Torie Thalmann,773862,3697,Northwestern Dr,341559436,73368.0,doesn’t suit my throat!’ and a Canary called o...
4,96595,Coretta Cubie,303645,3631,Northwestern Dr,378403829,96595.0,"head in the lap of her sister, who was gently ..."
5,19420,Cody Schiel,890431,3524,Northwestern Dr,947110049,NaN,None
6,93509,Emmitt Aceuedo,916706,3491,Northwestern Dr,979073160,NaN,None
7,87456,Leonora Wolfsberger,215868,3483,Northwestern Dr,565203106,NaN,None
8,36378,Freddie Ellzey,267882,3449,Northwestern Dr,474117596,NaN,None
9,53076,Boris Bijou,664914,3327,Northwestern Dr,401191868,NaN,None
10,28360,Rashad Cascone,924517,3212,Northwestern Dr,838907424,28360.0,"for apples, yer honour!’\n"
11,23044,Val Portlock,924989,3143,Northwestern Dr,100593316,NaN,None
12,51114,Christena Saffell,814284,3055,Northwestern Dr,247657547,51114.0,"‘So you did, old fellow!’ said the others.\n"
13,68690,Yer Modest,852404,3046,Northwestern Dr,419238039,68690.0,\n
14,44004,Alison Eska,327797,2951,Northwestern Dr,306417867,NaN,None
15,98593,Jonah Toner,578982,2947,Northwestern Dr,745853548,NaN,None
16,59307,Cyril Yongue,753524,2903,Northwestern Dr,866057839,NaN,None
17,34155,Allyson Lazenson,814209,2840,Northwestern Dr,991150469,NaN,None
18,90397,Dionna Kranwinkle,797260,2678,Northwestern Dr,278964807,NaN,None
19,54564,Sammie Sengun,217286,2590,Northwestern Dr,848854310,NaN,None
20,53699,Christian Pagano,628433,2585,Northwestern Dr,644772304,NaN,None
21,34352,Vincenza Burkhardt,436470,2512,Northwestern Dr,197913046,34352.0,"Poor Alice! It was as much as she could do, ly..."
22,80921,Donovan Yackley,222395,2386,Northwestern Dr,515049359,80921.0,\n
23,96178,Galina Khuu,450248,2183,Northwestern Dr,398518185,NaN,None
24,81885,Kurtis Masuda,934201,2108,Northwestern Dr,201272595,NaN,None
25,88423,Teri Ehrich,510876,1879,Northwestern Dr,248637345,88423.0,"sea, some children digging in the sand with wo..."
26,51552,Bonita Knie,764124,1726,Northwestern Dr,597137908,NaN,None
27,72076,Courtney Bordeaux,324614,1707,Northwestern Dr,347966356,72076.0,"see: four times five is twelve, and four times..."
28,81052,Calvin Czelusniak,471483,1516,Northwestern Dr,657531837,NaN,None
29,71924,Laurie Scronce,774116,1418,Northwestern Dr,254883636,71924.0,"interrupted: ‘UNimportant, your Majesty means,..."
30,23960,Kristopher Lagerberg,658777,1392,Northwestern Dr,492912529,23960.0,"This was quite a new idea to Alice, and she th..."
31,70485,Andera Kostelecky,354822,1252,Northwestern Dr,787423012,NaN,None
32,22239,Dusty Sigafus,710517,1125,Northwestern Dr,724386723,NaN,None
33,18376,Josh Shi,653712,1091,Northwestern Dr,193899001,NaN,None
34,29608,Willetta Lurvey,800568,1028,Northwestern Dr,843751378,NaN,None
35,33415,Homer Simpson,108392,981,Northwestern Dr,871392019,NaN,None
36,55130,Shiloh Huntoon,472118,951,Northwestern Dr,826647644,NaN,None
37,44542,Ivory Mcgrevey,873842,897,Northwestern Dr,988557407,NaN,None
38,99826,Ivy Kazarian,994470,892,Northwestern Dr,208359813,NaN,None
39,25615,Olevia Morena,388477,812,Northwestern Dr,962831331,25615.0,when I learn music.’\n
40,40760,Renata Faver,976650,745,Northwestern Dr,547572040,NaN,None
41,10010,Muoi Cary,385336,741,Northwestern Dr,828638512,NaN,None
42,39688,Abe Roeker,537445,689,Northwestern Dr,438969447,39688.0,"‘Hold your tongue!’ said the Queen, turning pu..."
43,26758,Angelena Billman,942074,629,Northwestern Dr,341854756,26758.0,"Will you, won’t you, will you, won’t you, won..."
44,75484,Del Tacderen,447887,607,Northwestern Dr,243821337,75484.0,"‘We had the best of educations--in fact, we we..."
45,12711,Norman Apolito,667757,599,Northwestern Dr,778264744,12711.0,\n
46,85280,Donn Duin,569122,540,Northwestern Dr,613873810,85280.0,verse.’\n
47,40336,Fredia Billeter,251082,404,Northwestern Dr,108056488,40336.0,stretched her arms round it as far as they wou...
48,15171,Weldon Penso,336999,311,Northwestern Dr,131379495,15171.0,the verses to himself: ‘“WE KNOW IT TO BE TRUE...
49,89906,Kinsey Erickson,510019,309,Northwestern Dr,635287661,NaN,None

In [7]:
pd.read_sql_query(consulta_2, conn) ["transcript"][0]

'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".'

In [8]:
consulta_3 = '''
SELECT *
FROM person as per
LEFT JOIN interview as inter
ON per.id = inter.person_id
WHERE address_street_name  = 'Franklin Ave'
AND name like 'Annabel%'
'''

pd.read_sql_query(consulta_3, conn)

,id,name,license_id,address_number,address_street_name,ssn,person_id,transcript
0,16371,Annabel Miller,490173,103,Franklin Ave,318771143,16371,"I saw the murder happen, and I recognized the ..."

In [9]:
pd.read_sql_query(consulta_3, conn) ["transcript"][0]

'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.'

In [10]:
consulta_4 = '''
Select * 
FROM get_fit_now_member gfnm 
LEFT JOIN get_fit_now_check_in gfnci 
ON gfnm.id = gfnci.membership_id
WHERE
gfnm.membership_status = 'gold'
AND
gfnci.membership_id like '48Z%'
AND
gfnci.check_in_date = '20180109'
'''

pd.read_sql_query(consulta_4, conn)

,id,person_id,name,membership_start_date,membership_status,membership_id,check_in_date,check_in_time,check_out_time
0,48Z7A,28819,Joe Germuska,20160305,gold,48Z7A,20180109,1600,1730
1,48Z55,67318,Jeremy Bowers,20160101,gold,48Z55,20180109,1530,1700

In [11]:
consulta_5 = '''
SELECT * 
FROM get_fit_now_member gfnm 
LEFT JOIN get_fit_now_check_in gfnci 
ON gfnm.id = gfnci.membership_id
LEFT JOIN person per
ON gfnm.person_id = per.id
RIGHT JOIN drivers_license dl 
ON per.license_id  = dl.id
WHERE 
gfnm.membership_status = 'gold'
AND 
gfnci.membership_id like '48Z%'
AND 
gfnci.check_in_date = '20180109'
'''

pd.read_sql_query(consulta_5, conn)

,id,person_id,name,membership_start_date,membership_status,membership_id,check_in_date,check_in_time,check_out_time,id,...,ssn,id,age,height,eye_color,hair_color,gender,plate_number,car_make,car_model
0,48Z55,67318,Jeremy Bowers,20160101,gold,48Z55,20180109,1530,1700,67318,...,871539279,423327,30,70,brown,brown,male,0H42W2,Chevrolet,Spark LS